body {
  background-color: #1E1E1E;
  color: #F2F2F2;
}

a {
  color: #F7B32B;
}

h1, h2, h3 {
  color: #FF6B35;
}

nav {
  background-color: #2D3047;
  padding: 10px;
  margin-bottom: 30px;
}

nav a {
  color: #FFFFFF;
}

nav a:hover {
  background-color: #419D78;
}